.sidebar__cont {
    width: 20%;
    height: 94vh;
    border-right: 2px solid $primary;
    display: none;

    @media only screen and (min-width:800px){
        display: flex;
    }
}
.sidebar__listItem {
    font-size: 20px;
}
.sidebar__list {
    @extend %flex-column;
    width: 100%;
}
.sidebar__listItemTitle {
    @extend %flex-row-between;
    font-size: 17px;

    &:hover{
        background-color: $primary;
        border-radius: 6px;
    }
}
.sidebar__linkItem {
    font-size: 17px;

    &:hover{
        background-color: $primary;
        border-radius: 6px;
    }
}

// Sidebar Modal
.modal__content {
    @extend %flex-column;
    background-color: $white;
    width: 65%;
    max-width: 350px;
    padding-right: 15px;
}
.modal__header {
    @extend %flex-row-between;
}
.sidebar__dropdownList{
    @extend %flex-column
}